@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#sidebarCollapse span {
		display: none;
	}
} */
.remove_btn {
	top: -3px;
	position: relative;
}
#contactTable a, .green_text {
	color: #0c6;
}
.create_btn {
	background-color: #0c6;
	color: #fff;
	border-radius: 20px;
}
.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}
.small_td {
	width: 5%;
}
#post_save {
	margin-top: 1em;
}
.add_btn {
	margin-top: 0em;
	margin-bottom: 1em;
}
.profile_img {
	width: 100px;
	border-radius: 61px;
	height: 100px;
}
.pagination-links{
	margin:30px 0;
}

.pagination-links strong{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

a.pagination-link{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}
